<body>
    <div class="container">
        <div class="row">
            <h2 class="mt-5">INVENTORY</h2>
            <hr  class="rounded" style="border-top: 7px solid; border-radius: 5px;">
            <div class="col-md-4">
                <div id="item-counts">
                    <div class="row">
                        <div class="col-md-8">
                            <strong>ITEM</strong>
                        </div>
                        <div class="col-md-4">
                            <p class="count"><strong >COUNT</strong></p>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-8">
                            <p>Mask:</p>
                        </div>
                        <div class="col-md-4">
                            <p id="maskCount" class="count">0</p>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-8">
                        <p>Ventilator:</p>
                    </div>
                    <div class="col-md-4">
                        <p id="ventilatorCount" class="count">0</p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-8">
                        <p>Zamboni:</p>
                    </div>
                    <div class="col-md-4">
                        <p id="zamboniCount" class="count">0</p>
                    </div>
                    </div>
                </div>
                <hr class="dashed">
                <div id="item-stats"> 
                    <div class="row">
                        <div class="col-md-8">
                            <p>Est. Weight:</p>
                        </div>
                        <div class="col-md-4">
                            <p id="estWeight" class="count">0</p>
                        </div>
                        <div class="col-md-8">
                            <p>Est. Volume:</p>
                        </div>
                        <div class="col-md-4">
                            <p id="estVol" class="count">0</p>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col-md-8" id="img-div">
                <div class="row">
                    <img id="cam-feed" src="{{ url_for('video_feed') }}">
                    <img id="zamboni-feed" hidden src="/static/zamboni.jpg">
                </div>
                <div class="row" style="padding-top: 10px;">
                    <button id="change-cameras" type="button" class="btn btn-info" style="width: 525;">Change Cameras</button>
                    <button id="change-preview" type="button" class="btn btn-info" style="margin-top: 10px; width: 525;">Switch Scanning Mode</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        $('#AddToValue').on('click', function(e) {
            e.preventDefault()
            var val = $('#val').text()
            $.ajax({
                type : 'GET',
                url : "{{url_for('test')}}?data="+val,
                success: function(response) {
                    $('#val').text(response)
                }
            });
            return false;
        });

        $('#change-cameras').on('click', function(e) {
            e.preventDefault()
            var camFeed = !$("#cam-feed").prop("hidden")
            $("#cam-feed").prop("hidden", camFeed)
            var zamboniFeed = !$("#zamboni-feed").prop("hidden")
            $("#zamboni-feed").prop("hidden", zamboniFeed)
            if($('#zamboniCount').text() == "0"){
                $('#zamboniCount').text("1")
            } else {
                $('#zamboniCount').text("0")
            }
        });

        $('#change-preview').on('click', function(e) {
            e.preventDefault();
            $.ajax({
                type : 'GET',
                url : "{{url_for('change_preview')}}",
                success: function(response) {
                    // TODO add some sort of notifier we are in scanning mode
                }
            });
        });

        setInterval(() => {
            $.ajax({
                type : 'GET',
                url : "{{url_for('test')}}",
                success: function(response) {
                    let maskCount = response['0']
                    let ventilatorCount = response['1']
                    let zamboniCount = $('#zamboniCount').text()

                    $('#maskCount').text(maskCount)
                    $('#ventilatorCount').text(ventilatorCount)

                    let estWeight = 10.5 * maskCount + 43.67 * ventilatorCount + 9750.4 * zamboniCount
                    let estVol = 5 * maskCount + 20 * ventilatorCount + 63 * zamboniCount

                    $("#estWeight").text(estWeight + " lbs");
                    $("#estVol").text(estVol + " sqft");
                }
            }); 
        }, 1000);
    });
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
    body{
        background-color: #404040;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    img{
        height: 400;
        width: 525;
    }
    #img-div{
        margin-top:auto;
        margin-bottom:auto;
        text-align:end;
    }
    .count{
        text-align: right;
    }
</style>